.backup/
src/src.zip

# Ignore secrets directory (contains keys, DBs, audit logs)
server/Web/secrets
!server/Web/secrets/samples

# Editor and system files
.DS_Store
Thumbs.db
*.pyc
__pycache__/

# Env files
.env

# To avoid possible data leakage for now:
scripts/
.cache/
services/

.vscode/

# Temporarely keep FluxDrop out of scope due to some quality reasons
src/FluxDrop site/

# not sure
src/generate_token.py
.venv/