# Anything else for the variables
# For example:

# HTTP_PORT='8080'
# HTTPS_PORT='8443'
# LOG_FILE_HTTP='home/arsen/servers/self-host/site/Web/logs.txt'
# UPLOAD_CHUNK_SIZE=26214400

# This amount of chunk size is kinda the best since it doesn't degrade server 
# speeds (on low-end hardware at least, but also not that large so it's not 
# overheading on chunk corruption)