[Unit]
Description=Web Server HTTPS
After=network.target
Wants=network.target

[Service]
Type=simple
User=arsen
WorkingDirectory=/home/arsen/servers/self-host/site/Web
# Use the virtualenv Python created by the installer. Update this path if your venv is different.
ExecStart=/opt/venvs/site_web/bin/python server_https.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
