[Unit]
Description=Web Server HTTP
After=network.target
Wants=network.target

[Service]
Type=simple
# Run as non-root user for safety
User=arsen
WorkingDirectory=/home/arsen/servers/self-host/site/Web
# Use the virtualenv Python created by the installer. Update this path if your venv is different.
ExecStart=/opt/venvs/site_web/bin/python server_http.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
